{% extends 'layout/layout-admin.html.twig' %}

{% block title %}Instrument index{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                {{ form_start(form) }}
                {{ form_label(form.search) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.search) }}
                    <a href="{{ path('app_admin_instrument_index') }}"
                       class="btn btn-secondary">
                        reset
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            {{ knp_pagination_render(instruments) }}
        </div>
    </div>
    <a class="btn btn-success mb-3" href="{{ path('app_admin_instrument_new') }}">Create new</a>
    <table class="table table-striped table-hover">
        <thead>

        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(instruments, 'Id', 'i.id') }}</th>
            <th{% if instruments.isSorted('i.picture') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(instruments, 'Picture', 'i.picture') }}
            </th>
            <th{% if instruments.isSorted('i.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(instruments, 'Name', 'i.name') }}
            </th>
            <th>
                Marque
            </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for instrument in instruments %}
            <tr class="position-relative">
                <td>{{ instrument.id }}</td>
                <td>
                    <img class="img-fluid"
                         src="{{ (instrument_dir ~ '/' ~ instrument.picture)|imagine_filter('instrument_swiper_mini') }}" alt="">
                </td>
                <td>{{ instrument.name }}</td>
                <td>
                    {{ instrument.company.name }}
                </td>
                <td>
                    <a class="stretched-link"
                       href="{{ path('app_admin_instrument_edit', {'id': instrument.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(instruments) }}
    </div>


{% endblock %}
