{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1 class="text-center my-3">Home page</h1>
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for instrument in instruments %}
                <figure class="swiper-slide d-flex flex-column p-2">
                    <img class="img-fluid " src="{{ upload_instrument_dir }}/{{ instrument.picture }}" alt="">
                    <figcaption>{{ instrument.name }}</figcaption>
                </figure>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('swiper') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('swiper') }}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const swiper = new Swiper(".swiper", {
                effect: "cards",
                grabCursor: true,
            });
        })
    </script>
{% endblock %}
