{% extends 'layout/layout-admin.html.twig' %}

{% block title %}Sound index{% endblock %}

{% block content %}
    <h1>Sound index</h1>
    <div class="container">

        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                {{ form_start(form) }}
                {{ form_label(form.search) }}
                <div class="input-group mb-3">
                    {{ form_widget(form.search) }}
                    <a href="{{ path('app_admin_sound_index') }}"
                       class="btn btn-secondary">
                        reset
                    </a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center">
            {{ knp_pagination_render(sounds) }}
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Title</th>
                <th>File</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for sound in sounds %}
            <tr class="position-relative">
                <td>{{ sound.id }}</td>
                <td>
                    <img class="me-2"
                         src="{{ (sound_dir ~ '/' ~ sound.picture)|imagine_filter('sound_cover_mini') }}"
                         alt="{{ sound.title }}">
                </td>
                <td>{{ sound.title }}</td>
                <td>{{ sound.file }}</td>
                <td>
                    <a class="stretched-link"
                       href="{{ path('app_admin_sound_edit', {'id': sound.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_sound_new') }}">Create new</a>
{% endblock %}
