{% extends 'layout/layout-admin.html.twig' %}

{% block title %}Sound{% endblock %}

{% block content %}
    <h1>Sound</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sound.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ sound.title }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ sound.picture }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ sound.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_sound_index') }}">back to list</a>

    <a href="{{ path('app_admin_sound_edit', {'id': sound.id}) }}">edit</a>

    {{ include('admin_sound/_delete_form.html.twig') }}
{% endblock %}
