<li class="nav-item dropdown" {{ attributes }}>
    <a class="nav-link dropdown-toggle {{ activeClass(['CompanyController', 'show']) }}"
       href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Marques
    </a>
    <ul class="dropdown-menu dropdown-menu-end border-0">
        {% for company in this.companies %}
            <li>
                {% set path = path('app_company_show', {'id': company.id}) %}
                <a class="dropdown-item {{ activeClass([], path) }}"
                   href="{{ path }}">{{ company.name }}</a>
            </li>
        {% endfor %}
    </ul>
</li>
